.stopWatchBody{
    background-color: darkslategray;
    width: 11vw;
    height: 18vw;
    padding: 10px;
    border-radius: 5%;
}

.stopWatchButton{
        margin-top: 10px;
        margin-left: 5px;
        border-radius: 10%;
        height:3vw;
        width: 3vw;
        background-color: green;
    }

    .timeDisplay{
        height:30px;
        width:60px;
        border: 1px solid black;
        margin-top: 10px;
        margin-left: 10px;
        background-color: rgba(214, 210, 204, 0.678);
    }

    .roundsList{
        background-color: rgba(214, 210, 204, 0.678);
        height:200px;
        width:90px;
        border: 1px solid black;
        margin-left: 10px;
        font-size: small;
    }